h1 {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h3,
p {
  font-size: 1em;
}

p {
  margin: 0;
}

span {
  display: inline-block;
  padding: 4px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  max-width: 400px;
}

input[type="radio"] {
  margin-left: 10px;
}

label {
  padding-left: 10px;
  cursor: pointer;
}

.border-white {
  border-right: 1px solid #fff;
}

.card {
  border: 0;
}

.card-header {
  padding: 2px;
  background: none;
}

.card-body {
  padding: 2px;
}

.nav-pills .nav-link.active {
  background-color: cornflowerblue;
}

.container {
  display: block;
  margin: 0;
  padding: 0;
}

.row {
  width: 99%;
}

.content {
  flex: 0 0 80%;
  max-width: 80%;
  background-color: rgb(240, 240, 240);
}

.posts {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.posts h3 {
  color: cornflowerblue;
}

.posts p:after {
  content: ".";
}

.credit {
  color: #888;
  font-size: 0.8em;
  text-transform: capitalize;
}

.header {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: cornflowerblue;
  color: #fff;
}

.search {
  width: 98%;
  padding: 4px;
  padding-left: 8px;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.sidebar {
  vertical-align: top;
  color: #333;
  text-align: left;
}
